---
---
// PixelZerg styling

@import 'utils';

html, body {
    @extend %uninverted;
    font-family: 'Libre Baskerville', serif;
    overflow-x: hidden;
}

.container{
    margin: 0 auto;
    max-width: $wmax;
    padding: 20px;
}

p{
    overflow-y: hidden;
}

$header-height: 75px;
.header{
    @extend %inverted;

    width: 100%;
    height: $header-height;

    position: absolute; // fallback
    position: fixed;

    display: table;

    .header-inner{
        overflow: hidden; // https://stackoverflow.com/a/5369963/5013267
        height: 100%;

        display: block; // fallback
        display: flex;
        align-items: center;
        justify-content: center;

        padding-top: 0.5em;
        padding-bottom: 0.5em;

        h1{
            flex: 1;
            float: left;
            font-weight: 300;
            margin: 0;
            margin-right: 1em;

            a{
                @extend %inverted;
                text-decoration: none;
            }
        }
        .nav{
            float: right;

            a{
                text-transform: uppercase;

                &:not(:last-child){ //not last for fallback (if 'not' not supported, doesn't matter)
                    margin-right: 1em;
                }
            }
        }
    }
}

footer{
    text-align: center;
}

.content{
    padding-top: $header-height;
    padding-bottom: 0;
}

@include max($wheadershrink){
    .header .header-inner{
        position: absolute;
        display: block;

        h1, .nav {
            float: none;
            flex: none;
        }

        .nav{
            margin-top: 0.3em;
            font-size: 0.9em;
        }
    }
}

@include max($wheadersecondshrink){
    // revert to relative header (so that the nav links can wrap and expand the bar)
    .header{
        position: relative;

        .header-inner{
            position: relative;

            h1{
                margin-right: 0;
            }

            .nav a{
                display: table-cell; // make them vertical
            }
        }
    }
    .content{
        padding-top: 0;
    }
}

// content responsive
$wcontentphone: 450px;
@include max($wcontentphone){
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }
}