---
---
// PixelZerg styling

@import 'utils';

html, body {
    @extend %uninverted;
    font-family: 'Libre Baskerville', serif;
}

.container{
    margin: 0 auto;
    max-width: $wmax;
    padding: 20px;
}

$header-height: 90px;
.header{
    @extend %inverted;

    width: 100%;
    height: $header-height;

    position: absolute; // fallback
    position: fixed;

    display: table;

    .header-inner{
        overflow: hidden; // https://stackoverflow.com/a/5369963/5013267
        height: 100%;

        h1{
            float: left;
            font-weight: 300;
            margin: 0;

            a{
                @extend %inverted;
                text-decoration: none;
            }
        }
        .nav{
            float: right;

            a{
                text-transform: uppercase;

                &:not(:last-child){ //not last for fallback (if 'not' not supported, doesn't matter)
                    margin-right: 1em;
                }
            }
        }
    }
}

footer{
    text-align: center;
}

.content{
    padding-top: $header-height;
    padding-bottom: 0;
}