---
---
// PixelZerg styling

@import 'utils';

html, body {
    @extend %uninverted;
    @extend %font-body;

    overflow-x: hidden;
    margin: 0;
    line-height: 1.2; // fix weird double scrollbar bug
                      // think this bug is due to Normalize.css somehow
}

h1, h2, h3, h4, h5, h6 {
    @extend %font-heading;
}

.container{
    margin: 0 auto;
    max-width: $wmax;
    padding: 20px;
}

$header-height: 75px;
$header-height-thin: 54px;
.header{
    @extend %inverted;
    @extend %font-heading;

    width: 100%;
    // height: $header-height-thin; // don't force (IE compat)

    // border-bottom: 2px solid $cfore;

    position: absolute; // fallback
    position: fixed;

    display: table;

    .header-inner{
        overflow: hidden; // https://stackoverflow.com/a/5369963/5013267
        height: 100%;

        display: block; // fallback
        display: flex;
        align-items: center;
        justify-content: center;

        padding-top: 0.5em;
        padding-bottom: 0.5em;

        h1{
            flex: 1;
            float: left;
            // font-weight: 300;
            margin: 0;
            margin-right: 1em;

            a{
                @extend %inverted;
                text-decoration: none;
            }
        }
        .nav{
            float: right;

            a{
                margin-right: 1em;

                &:last-child{ // fallback: if not supported, will simply not remove margin on last link
                    margin-right: 0;
                }
            }
        }
    }
}

footer{
    text-align: center;
}

.header-pad{
    margin-top: $header-height-thin;
}

@include max($wheadershrink){
    .header .header-inner{
        position: absolute;
        display: block;

        h1, .nav {
            float: none;
            flex: none;
        }

        h1{
            margin-right: 0;
        }

        .nav{
            margin-top: 0.3em;
            font-size: 0.9em;
        }
    }
}

@include max($wheadercenter){
    .header{
        // height: $header-height; // don't force (IE compat)
    }
    .header-pad{
        margin-top: $header-height;
    }

    .header .header-inner{
        // display: table;
        // margin: 0 auto;
        text-align: center;
        position: relative;
    }
}

@include max($wheadersecondshrink){
    // revert to relative header (so that the nav links can wrap and expand the bar)
    .header{
        position: relative;

        .header-inner{
            position: relative;
            text-align: left;

            .nav a{
                // fixme: when reload page right into small resolution (rather than big resolution then drag, text is all bunched up weirdly) (more testing needed)
                display: block; // make them vertical
            }
        }
    }
    .header-pad{
        margin-top: 0;
    }
}

// content responsive
$wcontentphone: 450px;
@include max($wcontentphone){
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }
}

// project
.section{
    overflow: auto; // because floating children

    .section-header{
        text-align: center;
        margin: 4em;
        // margin-bottom: 2em;
        
        h1{
            margin-bottom: 0.3em;
        }
    }
}

.section-project-grid{
    .project-grid{
        overflow: auto; // because float

        .project-holder{
            width: 33%; // fallback
            width: calc(100%/3);
            
            display: inline-block;
            overflow: hidden;
            float: left; // will fallback relatively nicely

            padding: 0;
            margin: 0;

            .project{
                display: block;
                overflow: hidden;
                height: 150px;
                padding: 20px;
                margin: 10px;

                border: 2px solid $ctint;
                @include rounded;

                h2{
                    margin: 0;
                }
                .date{
                    margin-bottom: 0.3em;
                    color: $ctint;
                }
            }

            // responsive
            @include max($wgridhalf){
                width: 50%; // fallback
                width: calc(100%/2);
            }
            @include max($wgridsingle){
                width: 100%; // fallback
                width: calc(100%);

                .project{
                    height: initial;
                    height: fit-content;
                }
            }
        }
    }
}

.background-dim{
    color: $cback;    
    background-color: rgba(1,1,1,0.5);
    width: 100%;
    height: 100%;
    display: table;
}

.section-about{
    background: #a3c3ca;
    background: url(/res/img/notes.jpg);
    background-origin: unset;
    background-position: center;
    background-size: cover;

    .container{
        height: 100%;
        padding-bottom: 0;
        padding-top: 0;
    }

    .about-holder{
        display: table;
        height: 100%;
        margin: 5em 0; // fallback for when vh not supported

        .about{
            display: table-cell;
            vertical-align: middle;

            h3 {
                font-size: 2em;
                max-width: 50%;
            }
        }
    }

    @supports(height: 45vh){
        &{
            height: 45vh;

            .about-holder{
                margin: 0;
            }
        }
    }
}