// colours
// alt (bluey) colour scheme:
// $ctint: #a3c3ca;
// $cfore: hsla(200, 20%, 40%, 1);
// $cback: #f4f2f1;

$ctint: #ddcbbe;
// $ctint: #67b1cc;
// $ctint: #b3c6ca;
// $ctint: #77bfbb;
$ctintdark: darken($ctint, 40%);

$cfore: #222;
// $ctint: lighten($cfore, 40%);
// $ctint: $cfore;
$cback: #fff;

$clink: #007db2;
$clink-inverted: lighten($clink, 40%);

// widths
$wmax: 1200px;
$wheadercenter: 730px;
$wheadershrink: $wheadercenter;
$wheadersecondshrink: 300px;

$wgridhalf: 970px;
$wgridsingle: $wheadercenter;

// util mixins
@mixin prefix($property, $value, $prefixes: ()) {
	@each $prefix in $prefixes {
		#{'-' + $prefix + '-' + $property}: $value;
	}
	#{$property}: $value;
}

@mixin rounded($radius: 3px) {
	@include prefix(border-radius, $radius, webkit ms moz);
}

@mixin link-col($linkcolour) {
	a {
		text-decoration: none;
		color: $linkcolour;

		&:hover{
			color: lighten($linkcolour, 20%) !important;
		}

		&:visited{
			color: $linkcolour;
		}
	}
}

// themes
%uninverted{
	color: $cfore;
	background-color: $cback;

	@include link-col($clink);
}
%inverted{
	color: $cback;
	background-color: $cfore;

	@include link-col($clink-inverted);
}

// bordered themes
%uninverted-bordered{
	@extend %uninverted;
	@include rounded;

	color: $cfore !important;
    border: 2px solid $ctint;
}

%inverted-bordered{
	@extend %inverted;
	@include rounded;

	color: $ctint !important;
    border: 2px solid $ctint;
}

// transition themes
%transition{
	@include prefix(transition, all .1s ease-in-out, webkit moz ms o)
}

// responsive
@mixin min($width) {
	@media only screen and (min-width: #{$width}) { @content; }
}
@mixin max($width) {
	@media only screen and (max-width: #{$width}) { @content; }
}

//font stuff
$fontfall: Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

/* source-serif-pro-700 - latin */
@font-face {
font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 700;
src: url('/res/font/source-serif-pro-v7-latin-700.eot'); /* IE9 Compat Modes */
src: local('Source Serif Pro Bold'), local('SourceSerifPro-Bold'),
		url('/res/font/source-serif-pro-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('/res/font/source-serif-pro-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		url('/res/font/source-serif-pro-v7-latin-700.woff') format('woff'), /* Modern Browsers */
		url('/res/font/source-serif-pro-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/res/font/source-serif-pro-v7-latin-700.svg#SourceSerifPro') format('svg'); /* Legacy iOS */
}

// font themes
%font-heading{
    font-family: 'Source Serif Pro', serif;
}
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
%font-body{
    font-family: "Lato", $fontfall;
}