---
title: Home
layout: home
---

<div class="grid">
<div class="gridbox">
{% for post in site.posts %}
<div class="grid-item">
	<div class="post-item">
		<a href="{{ post.url }}" class="post-image-holder"><div class="post-image" style="background-image: url({% if post.thumb %}{{ post.thumb }}{% elsif post.image %}{{ post.image }}{% else %}{{ site.defaultimage }}{% endif %});"></div></a>
		<a href="{{ post.url }}" class="linkbox"><div class="linkbox-inner"><h2 class="title">{{ post.title }}</h2><p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | markdownify | strip_html | truncate: 100 }}{% endif %}</p></div></a>
	</div>
</div>
{% endfor %}
{% include post-item-fb.html %}
</div>
</div>