<script>
//animate opening of collapsible
//(css only animation is possible but requires static max-height)
$(document).ready(function(){
	$('.lbl-toggle').each(function(i,e){
		$(e).data('closed',true);
	})
	$('.lbl-toggle').click(function(e){
		var elem = $(e.target).siblings('.collapsible-content');

		if($(e.target).data('closed')){
			if(!elem.data('targetheight')){
				elem.css('visibility','hidden');//invisible it
				elem.css('max-height','inherit');
				elem.data('targetheight',elem.height());
				elem.css('max-height','0px');
				elem.css('visibility','visible');//un-invisible it
			}

			var h = elem.data('targetheight');
			elem.animate({
				'max-height':h+'px'
			},250)
			$(e.target).data('closed',false);
		}else{
			var h = elem.data('targetheight');
			elem.animate({
				'max-height':'0px'
			},250)
			$(e.target).data('closed',true);
		}
	});
});
</script>