{% include modernizr.html %}
<script>
	if(Modernizr.flexbox){
		var h = 65;//height of final bar in px
		var pelem = document.getElementById("header-pad");

		window.addEventListener("scroll", function() {
			var elem = document.getElementById("home-header");
			var ty=(elem.offsetTop + elem.offsetHeight)-h;
			if(!elem.classList.contains('sm')){
				if(window.scrollY>=ty){
					pelem.style['height']=elem.offsetHeight+'px';
					elem.classList.add("sm");
				}
			}else{
				if(window.scrollY<ty){
					pelem.style['height']="0";
					elem.classList.remove("sm");
				}
			}
		});
	}
</script>