<div class="nav-inline">
    <a class="{% if page.title == 'Home' %}cur{% endif %}" href="/">Home</a>
    {% for cat in site.category %}

        {% assign highlight = false %}
        {% capture norm-title %}{{ cat.title | slugify }}{% endcapture %}
        {% if page.title == cat.title  %}
            {% assign highlight = true %}
        {% elsif page.categories contains norm-title %}
            {% assign highlight = true %}
        {% endif %}

        <a class="{% if highlight  %}cur{% endif %}" href="{{ cat.url }}">{{ cat.title }}</a>
    {% endfor %}
	<a class="{% if page.title == 'About' %}cur{% endif %}" href="/about/">About</a>
</div>