<div class="nav-inline">
    <a class="{% if page.title == 'Home' %}cur{% endif %}" href="/">Home</a>

    <a class="{% if page.title == 'Projects' %}cur{% endif %}" href="/projects/">Projects</a>
    <a class="{% if page.title == 'Articles' %}cur{% endif %}" href="/articles/">Articles</a>
    <a class="{% if page.title == 'Notes' %}cur{% endif %}" href="/notes/">Notes</a>

    {% comment %}
    {% for cat in site.category reversed %}

        {% assign highlight = false %}
        {% capture norm-title %}{{ cat.title | slugify }}{% endcapture %}
        {% if page.title == cat.title  %}
            {% assign highlight = true %}
        {% elsif page.categories contains norm-title %}
            {% assign highlight = true %}
        {% endif %}

        <a class="{% if highlight  %}cur{% endif %}" href="{{ cat.url }}">{{ cat.title }}</a>
    {% endfor %}
    {% endcomment %}
    
	<a class="{% if page.title == 'About' %}cur{% endif %}" href="/about/">About</a>
</div>