<script>
$(window).on('resize', updtPostItems);
updtPostItems();
function updtPostItems(){
  if($(window).width()>592){
    var biggest=0;
    for (var i = 0; i < document.getElementsByClassName('linkbox-inner').length; i++) {
    	var temp = document.getElementsByClassName('linkbox-inner')[i].clientHeight;
    	if(temp>biggest){
    		biggest=temp;
    	}
    }
    for (var i = 0; i < document.getElementsByClassName('linkbox').length; i++) {
    	document.getElementsByClassName('linkbox')[i].style['height']=(biggest+35)+'px';
    }
  }else{
    for (var i = 0; i < document.getElementsByClassName('linkbox').length; i++) {
      document.getElementsByClassName('linkbox')[i].style['height']='inherit';
    }
  }
}
</script>