//font stuff
$ffall: Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

//colours
$cb: #222;
$cw: #fff;
$ca: #333; //accent
$cg: #999; //grey
$cl: #007db2; //link

//widths
$wms: 320px;
$wmm: 375px;
$wml: 425px;
$wt: 768px;
$wl: 1024px;
$wll: 1440px;
$wxl: 2560px;
$wl: 980px;
$wm: 670px;
$ws: 490px;
$wxs: 220px;

//responsive
@mixin min($width) {
	@media only screen and (min-width: #{$width}) { @content; }
}
@mixin max($width) {
	@media only screen and (max-width: #{$width}) { @content; }
}

//themes
%tb{
	background: $cb;
	color: $cw;
}
%tw{
	background: $cw;
	color: $cb;
}

//placeholder
%flex{
    text-align: center; //fallback
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

//util mixims
@mixin rounded($radius:4px) {
  -webkit-border-radius : $radius;
  -moz-border-radius : $radius;
  border-radius : $radius; 
}

@mixin border-radius($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
  -webkit-border-top-right-radius : $topright;
  -webkit-border-bottom-right-radius : $bottomright;
  -webkit-border-bottom-left-radius : $bottomleft;
  -webkit-border-top-left-radius : $topleft;
  -moz-border-radius-topright : $topright;
  -moz-border-radius-bottomright : $bottomright;
  -moz-border-radius-bottomleft : $bottomleft;
  -moz-border-radius-topleft : $topleft;
  border-top-right-radius : $topright;
  border-bottom-right-radius : $bottomright;
  border-bottom-left-radius : $bottomleft;
  border-top-left-radius : $topleft;
  -webkit-background-clip : padding-box;
  -moz-background-clip : padding;  
  background-clip : padding-box; 
}