---
---
//fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400');

//utils
@import 'utils';

//partials
@import 'stmk';

//general
body{
	font-family: "Lato",#{$ffall};
	font-size: 17px;
	@extend %tw;

	@include max($wm){
		font-size: 15px;
	}
	@include max($wxs){
		font-size: 7vw;
	}
}
a{
	color: $cl;
}
//footer
footer{
	text-align: center;
}

//header
.header{
	@extend %tb;

	.titleholder{
		padding: 10vh 0;
		text-align: center;
		vertical-align: middle;
	}
}

//page header
.page,.post{
	.home-header
	.header-bar
	.header-container
	.titleholder{
			padding: 7vh 0;
			// padding-bottom: 1vh;

			// h1{
			// 	font-size: 45px;
			// 	font-weight: 300;
			// }
	}
}

//post header-img parallax effect
$header-img-height: 250px;
.post{
	.header{
	    background: transparent;
		height: $header-img-height;
		line-height: $header-img-height;

		//fallback stuff 90.57%->95.45+%
		//nb: fb is not parallax:
	    background-repeat: no-repeat;
	    width: 100%;
	    background-size: cover;
	    background-position: center center;

		.header-img{
			display: none; //fallback - to be toggled by js

			o-object-fit: cover;//fallback
			object-fit: cover;
		    width: 100%;
		    height: $header-img-height;
		    left: 0;
		    top: 0;
		    z-index: -1;
		    padding: 0;
		    position: absolute; //fallback
		    position: fixed;
		}
	}
}
.container{
	background: $cw; //so that you cannot see header-img behind
}
//post header-img responsive stuff
@include max($wl){
	$temp: 170px;
	.post{
		.header{
			height: $temp;
			line-height: $temp;
			.header-img{
				height: $temp;
			}
		}
	}
}
@include max($wm){
	$temp: 25vw;
	.post{
		.header{
			height: $temp;
			line-height: $temp;
			.header-img{
				height: $temp;
			}
		}
	}
}
@include max($wmx){
	$temp: 132px;
	.post{
		.header{
			height: $temp;
			line-height: $temp;
			.header-img{
				height: $temp;
			}
		}
	}
}

//post header title stuff
.post{
	.header{
		.titleholder{
			padding: 0;
		}
	}
}

//post-header (not to be confused w post header) stuff
.post-header{
	display: block;

	h1{
		font-size: 40px;
		font-weight: 700;
		padding: 0;
		padding-top: 1rem;
	}
	.meta{
	    color: #6a737d;
	    margin: 0;
	    border-left: 5px solid #7a7a7a;
	    padding-left: 15px;
    	margin-left: 5px;
	    font-family: "Lato",#{$ffall};
	    margin-bottom: 16px;
	}
}

// post header when under page/home
.page, .home{
	.post-header{
		max-width: 1152px;
		margin: 0 auto;
	}
}

//navigation bar
.nav-bar{
	@extend %tb;
	padding: 10px 30%; //2nd arg only for small no items
    border-top: 2px solid $ca;
    display: flex;

    @include max($ws){
    	padding: 10px;
    }

    .opt{
    	color: $cw;
    	padding-right: 5px;
    }

}
.nav-bar, .opt{
    @extend %flex
}

//displaybox
// displaybox
.displaybox{
	height: inherit;
    background: #111;
    padding: 0 20%;
	line-height: 0;

	.displaybox-iframe-holder{
		background: white;

		iframe{
			width: 100%;
			max-width: 55vh;
			border: none;
			background: white;
			padding: 20px;
			display: block;
			margin: 0 auto;
		//     height: 34vw;
		//     @include max($wxl){
		// 		height: 40vw;
		// 	}
		// 	@include max($wl){
		// 		height: 44vw;
		// 	}
		// 	@include max($wm){
		// 		height: 55vw;
		// 	}
		}
	}

	.youtube{
		max-width: 1000px;
	}
}

//navigation bar when in container - (used in about)
.container, .displaybox{
	.nav-bar{
		padding: 10px;
		// padding-top: 30px;
		background-color: $cw;
		border: none;
	}
	.opt{
		color: $cb;
	}
}

//container (+ displaybox)
.container, .displaybox{
	padding: 10px 20%;
	width: 100%;

	@include max($wxl){
		padding: 10px 15%;
	}
	@include max($wl){
		padding: 10px 10%;
	}
	@include max($wm){
		padding: 10px 5%;
	}
}

// displaybox padding overriding
.displaybox{
	@include max($wm){
		padding: 0;
	}
}

//narrow container
.container.narrow{
	padding: 10px 8%;
	width: 100%;

	@include max($wxl){
		padding: 10px 3%;
	}
	@include max($wl){
		padding: 10px 3%;
	}
	@include max($wm){
		padding: 10px 3%;
	}
}

//content
.content{
	font-family: "Lato",#{$ffall};
	padding-bottom: 5rem;
}

//grid stuff
.grid{
	text-align: center;
	.gridbox{
		display: inline-block;
		text-align: left;

		width: 100%;
		max-width: 1152px;

		.grid-item{
			float: left;
		    display: inline-block;
		    padding: 0;
		    text-align: left;

		    @include min(592px){
		    	width: 1/2*100%;
		    }
		    width:100%;

		}
	}
}

//post imgcode
.imgcode-holder{
	@extend %tw;
	background: transparent;

	display: table-cell;
    vertical-align: middle;
    width: 900000000px;
    height: inherit;

    .imgcode{
	    text-align: center;
	    width: 80%;
		margin: 0 auto;
    }

    // zoom adjustment (only supported browsers)
    // try keep top-bottom padding more constant
    // zoom:1.4;
    // @include max(1250px){
    // 	zoom: 1.3;
    // }
    // @include max(980px){
    // 	zoom: 1.3;
    // }
    // @include max(820px){
    // 	zoom: 1.1;
    // }
    // @include max(808px){
    // 	zoom: 1;
    // }
    // @include max(591px){
    // 	zoom: 1.6;
    // }
    // @include max(440px){
    // 	zoom: 1.2;
    // }
    // @include max(300px){
    // 	zoom: 1;
    // }
    // @include max($wxs){
    // 	zoom: 0.9;
    // }
}

//post-item
.post-item{
	height: inherit;
	margin: 10px;
	height: 100%;

	a{
		display: block;
	}
	.post-image-holder{
		overflow: hidden;
		@include border-radius(8px,8px,0,0);
		.post-image{
			height: 200px;
			width: 100%;

		    background-size: cover;
		    background-position: center center;
		    background-repeat: no-repeat;


		}
		.post-image.zoom{
			@include prefix(transform, scale(2),webkit ms moz);
		}

		//link stuff
		color: $cb;
		&:hover{
			text-decoration: none;
		}
	}
	.linkbox{
	    height: 170px;
	    overflow: hidden;
		padding: 10px 20px;
		text-align: center;

		@include border-radius(0,0,8px,8px);
		@extend %tb;

	    h2{
	    	padding: 0;
	    	text-decoration: underline;
	    	border-bottom: none;
	    	cursor: pointer;
	    }
	    &:hover{
			text-decoration: none;
			background: $cbt;
			h2{
				// text-decoration: underline;
			}
		}
	}
	@include min(591px){
		@include max(820px){
			.post-image-holder{
				.post-image{
					height: 150px;
				}
			}
		}
	}
	@include max(591px){
		.linkbox{
			height: inherit; //1 col so no longer need to worry
		}
	}
}

// post-item without image
.post-item.noimg{
	.linkbox{
		@include rounded(8px);
	}
}

//header-bar
$header-bar-height: 80px;
.header-bar{
	@extend %tb;
	height: $header-bar-height;
	position: absolute; //fallback
    position: fixed;
    width: 100%;
    z-index: 2;

	@include prefix(box-shadow, rgba(0, 0, 0, 0.75) 0px 1px 20px 0px,webkit ms moz);
	@include prefix(transform, translateZ(0),webkit ms moz); // flickering on Chrome
    /*border-bottom: #888 1px solid;*/

    .header-container{
	    width: 100%;
	    height: 100%;
	    display: table; //fallback
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    a{
	    	color: $cw;
	    	&:hover{
		    	color: $cg;
		    	text-decoration: none;
		    }
		    &.cur{
		    	font-weight: 700;
		    }
	    }
	    h1{
	    	padding: 0;
	    	flex: 1;
	    }

	    .nav-inline{
	    	a:not(:last-child){ //not last for fallback (if 'not' not supported, doesn't matter)
	    		margin-right: 20px;
	    	}
	    }
    }
}
.header-bar.container{
	//override stuff
	@extend %tb;
	padding-top: 0;
	padding-bottom: 0;
}
.header-pad{
	height: $header-bar-height;
}
//overide header-img top
.post .header .header-img{
	top: $header-bar-height;
}

//height updates
@supports(display: flex){
	//if not using fallback version, can afford smaller height
	//special case: ie11 supports flex but not @supports
	$header-bar-height: 65px;
	.header-bar{
		height: $header-bar-height;
	}
	.header-pad{
		height: $header-bar-height;
	}
	.post .header .header-img{
		top: $header-bar-height;
	}
}

//home header-bar
.home-header{
	.header-bar{
		position: relative;
    	height: inherit;

		.header-container{
			display: table;
			padding: 10px;

			.titleholder{
				padding: 10vh 0;
			    text-align: center;
			    line-height: 1.4;

			    h1{
			    	font-weight: 300;
					font-size: 100px;
					font-size: 6rem;
			    }
			    h2{
					font-weight: 300;
					font-size: 22px;
					font-size: 1.4rem;
					color: #ccc;
					padding: 0;
				}
			}

			@include max($wxl){
				.titleholder{
					h1{
						font-size: 84.8px;
						font-size: 5.3rem;
					}
					h2{
						font-size: 19.2px;
						font-size: 1.2rem;
					}
				}
			}
			@include max($wm){
				.titleholder{
					line-height: 1.3;
					h1{
						font-size: 65px;
						font-size: 4.5rem;
					}
					h2{
						font-size: 16px;
						font-size: 1rem;
					}
				}
			}
			@include max(400px){
				.titleholder{
					h1{
						font-size: 18vw;
					}
					h2{
						font-size: 4vw;
					}
				}
			}

			.nav-inline{
			   	display: block; //fb
    			display: flex;
				text-align: center;

				a{
					display: inline;
					flex: 1;
				}
			}
		}
	}
}
.home, .page{
	.header-pad{
		height: 0px;
	}
}

h1,h2{
	padding-top:1rem;
    padding-bottom: 0;
}

.contentbox{
	padding: 20px;
	padding-bottom: 0.8rem;
    border: solid #ccc;
}

// h + h underline css
.content{
	h1, h2, h3, h4, h5, h6 { position: relative; margin-top: 0.2rem; font-weight: bold; line-height: 1.4; cursor: text; }
h1 { padding-bottom: 0.3em; font-size: 2.25em; line-height: 1.2; border-bottom: 1px solid $cwg;}
h2 {padding-bottom: 0.3em;font-size: 1.75em;line-height: 1.225;border-bottom: 1px solid $cwg;}
h3 { font-size: 1.5em; line-height: 1.43; }
h4 { font-size: 1.25em; }
h5 { font-size: 1em; }
h6 { font-size: 1em; }
hr { height: 2px; padding: 0px; margin: 16px 0px; overflow: hidden; box-sizing: content-box; }
h1 p, h2 p, h3 p, h4 p, h5 p, h6 p { margin-top: 0px; }
li p.first { display: inline-block; }
p { margin-bottom: 0.8rem; }
ul,ol{
	    margin-bottom: 0.8rem;
}
}

// katex fix
.katex-display{
	overflow-x: auto;
	overflow-y: hidden;
}

//linksbox (not to be confused with linkbox)
.linksbox{
	$col: #6a737d;

    padding: 4.8px 16px; //fallback
	padding: 0.3rem 1rem;
    background: $col;
	text-align: center;
	margin-bottom: 17.5px;
	@include rounded(8px);
	
	.nav-bar{
		padding: 0;
		background: $col;

		.opt{
			color: #fff;
			
			font-size: 18.7px;

			@include max($wm){
				font-size: 16.5px;
			}
			@include max($wml){
				font-size: 15px;
			}
			@include max($wxs){
				font-size: 8.7vw;
			}
		}
	}
}