---
---
//fonts
$ffall: Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400);

//colours
$cb: #222;
$cw: #fff;
$ca: #333; //accent
$cg: #999; //grey
// $cl: #008080; //link

//widths
$wms: 320px;
$wmm: 375px;
$wml: 425px;
$wt: 768px;
$wl: 1024px;
$wll: 1440px;
$wxl: 2560px;
$wm: 670px;
$ws: 490px;
$wxs: 220px;

//responsive
@mixin min($width) {
	@media only screen and (min-width: #{$width}) { @content; }
}
@mixin max($width) {
	@media only screen and (max-width: #{$width}) { @content; }
}

//themes
%tb{
	background: $cb;
	color: $cw;
}

//placeholder
%flex{
    text-align: center; //fallback
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

//body
body{
	font-family: "Raleway",#{$ffall};
}

//footer
footer{
	text-align: center;
}

//header
.header{
	@extend %tb;

	.titleholder{
		padding: 10vh 0;
		text-align: center;
	}
}

//home header
.home{
	.header{
			.titleholder{
			padding: 10vh 0;
			text-align: center;
			line-height: 1.4;

			h1{
				font-size: 100px;
			}

			h2{
				font-size: 20px;
			}
		}
		@include max($wm){
			.titleholder{
				padding: 5vh 0;
				line-height: 1.3;
				h1{
					font-size: 75px
				}
				h2{
					font-size: 16px;
				}
			}
		}
		@include max($wxs){
			.titleholder{
				h1{
					font-size: 30vw;
				}
				h2{
					font-size: 8vw;
				}
			}
		}
	}
}

//page header
.page{
	.header{
			.titleholder{
		    padding: 5vh 0;
		    padding-bottom: 1vh;
		}
	}
}

//navigation bar
.nav{
	@extend %tb;
	padding: 10px 30%; //2nd arg only for small no items
    border-top: 2px solid $ca;
    display: flex;

    @include max($ws){
    	padding: 10px;
    }

    .opt{
    	color: $cw;
    }

}
.nav, .opt{
    @extend %flex
}

//content
//todo responsive
.content{
	padding: 20px 10%;
}