---
---
//fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

//utils
@import 'utils';

//partials
@import 'stmk';

//general
body{
	font-family: "Raleway",#{$ffall};
	font-size: 16px;
	@extend %tw;

	@include max($wm){
		font-size: 15px;
	}
	@include max($wxs){
		font-size: 7vw;
	}
}
a{
	color: $cl;
}
//footer
footer{
	text-align: center;
}

//header
.header{
	@extend %tb;

	.titleholder{
		padding: 10vh 0;
		text-align: center;
	}
}

//home header
.home{
	.header{
			.titleholder{
			padding: 10vh 0;
			text-align: center;
			line-height: 1.4;

			h1{
				font-size: 100px;
			}

			h2{
				font-size: 20px;
			}
		}
		@include max($wm){
			.titleholder{
				padding: 5vh 0;
				line-height: 1.3;
				h1{
					font-size: 65px
				}
				h2{
					font-size: 16px;
				}
			}
		}
		@include max($wxs){
			.titleholder{
				h1{
					font-size: 30vw;
				}
				h2{
					font-size: 8vw;
				}
			}
		}
	}
}

//page header
.page,.post{
	.header{
			.titleholder{
		    padding: 5vh 0;
		    padding-bottom: 1vh;

		    h1{
		    	font-size: 45px;
		    }
		}
	}
}

//post header-img parallax effect
$header-img-height: 250px;
.post{
	.header{
		height: $header-img-height;
		background: #2223;

		.header-img{
			o-object-fit: cover;//fallback
			object-fit: cover;
		    width: 100%;
		    height: $header-img-height;
		    left: 0;
		    top: 0;
		    z-index: -1;
		    padding: 0;
		    position: absolute; //fallback
		    position: fixed;
		}
	}
}
.container{
	background: $cw; //so that you cannot see header-img behind
}

//navigation bar
.nav{
	@extend %tb;
	padding: 10px 30%; //2nd arg only for small no items
    border-top: 2px solid $ca;
    display: flex;

    @include max($ws){
    	padding: 10px;
    }

    .opt{
    	color: $cw;
    }

}
.nav, .opt{
    @extend %flex
}

//navigation bar when in container - (used in about)
.container{
	.nav{
		padding: 10px;
		// padding-top: 30px;
		background-color: $cw;
		border: none;
	}
	.opt{
		color: $cb;
	}
}

//container
.container{
	padding: 30px 20%;
	width: 100%;

	@include max($wl){
		padding: 20px 10%;
	}
	@include max($wm){
		padding: 20px 5%;
	}
}

//content
.content{
	font-family: "Open Sans",#{$ffall};
}