---
layout: default
---

<div class="home">

{% include header-bar.html %}
<div class="home-header">
	<div class="header-bar container">
		<div class="header-container">
			<div class="titleholder">
				<h1><a href="/">{{ site.title }}</a></h1>
				<h2>{{ site.description }}</h2>
			</div>
			{% include nav-inline.html %}
		</div>
	</div>
</div>
<div class="header-pad"></div>
{% include home-scrollpast.html %}


<div class="container">
    {% if page.title %}
    <div class="post-header">
        <h1>{{ page.title }}</h1>
        <div class="meta">{{ page.date | date: "%d %b, %Y" }}{% if page.categories %} - {{ page.categories | join: ', ' }}{% endif %}</div>
    </div>
    {% endif %}
	<div class="content">
	{{ content }}
	</div>
</div>

</div>
