---
layout: default
---

<div class="post">
{% include header-bar.html %}
<div class="header-pad"></div>

{% if page.displaybox or page.displaybox-yt %}
	<div class="displaybox" style="{% if page.displaybox-style == 'wide' %}padding:0;{% endif %}">
		{% if page.displaybox %}
		<div class="displaybox-iframe-holder">
			<iframe src="{{ page.displaybox }}" class="displaybox-iframe"></iframe>
			<script>
			$(document).ready(function(){
				
				var num = 10;
				var scrollHooked = false;

				function resizeFr() {
					var el = $(".displaybox-iframe");

					el[0].style.height='0';
					el[0].style.height=el.contents().height()+60+'px';
				}

				$(window).resize(function(){
					num=100;
				});

				setInterval(function(){
					if(num<=0){
						if(!scrollHooked){
							$(window).scroll(function(){
								num=0;
							});
							scrollHooked = true;
						}
						return;
					}
					resizeFr();
					num-=1;
				},10);

			});
			</script>
		</div>
		<!-- <style>
			.displaybox-iframe{
				height: 76vw;
				width: 64vw;
				max-height: 75vh;
				max-width: 72vh;
			}
		</style> -->
		{% elsif page.displaybox-yt %}
			{% include youtube id=page.displaybox-yt %}
		{% endif %}
	</div>
{% else %}
	{% capture img %}{% if page.image %}{{ page.image }}{% else %}{{ site.defaultimage }}{% endif %}{% endcapture %}
	<div class="header" style="background-image: url({{ img }});">
	<img class="header-img" src="{{ img }}">
	</div>
	{% include header-img-fb.html %}
{% endif %}

<div class="container">
<div class="post-header">
	<h1>{{ page.title }}</h1>
	<div class="meta">{{ page.date | date: "%d %b, %Y" }}{% if page.categories %} - {{ page.categories | join: ', ' }}{% endif %}</div>
</div>
<div class="content">
{{ content }}
</div>
</div>
</div>