---
layout: default
---

<div class="post">
{% include header-bar.html %}
<div class="header-pad"></div>

{% if page.displaybox or page.displaybox-yt %}
	<div class="displaybox" style="{% if page.displaybox-style == 'wide' %}padding:0;{% endif %}">
		{% if page.displaybox %}
		<div class="displaybox-iframe-holder">
			<iframe src="{{ page.displaybox }}" class="displaybox-iframe"></iframe>

		</div>
		<!-- <style>
			.displaybox-iframe{
				height: 76vw;
				width: 64vw;
				max-height: 75vh;
				max-width: 72vh;
			}
		</style> -->
		{% elsif page.displaybox-yt %}
			{% include youtube id=page.displaybox-yt %}
		{% endif %}
	</div>
{% elsif page.image %}
	<div class="displaybox" style="{% if page.displaybox-style == 'wide' %}padding:0;{% endif %}">
		<img class="topimg" src="{{ page.image }}">
	</div>
{% elsif page.video %}
<div class="displaybox" style="{% if page.displaybox-style == 'wide' %}padding:0;{% endif %}">
	<video class="topimg" autoplay="autoplay" loop="loop" muted plays-inline>
		{% for source in page.video %}
		<source src="{{ source }}">
		{% endfor %}
	</video>
</div>
{% endif %}

<div class="container">
<div class="post-header">
	<h1>{{ page.title }}</h1>
	<div class="meta">
		<span>{{ page.date | date: "%d %b, %Y" }}</span>
		{% if page.categories %}
		<span> - </span>
			{% for cat in page.categories %}
			<a href="/{{ cat }}/">{{ cat | capitalize }}</a>
			{% endfor %}
		{% endif %}
	</div>

	{% if page.links %}
	<div class="linksbox">
		<div class="nav-bar">
			{% for link in page.links %}
				{% for item in link %}
				<a class="opt" href="{{ item[1] }}">{{ item[0] }}</a>
				{% endfor %}
			{% endfor %}
		</div>
	</div>
	{% endif %}
</div>
<div class="content">
{{ content }}
</div>
</div>
</div>